In [0]:
print "Hello World!" # no parentheses are needed in python2
print('Hello world') # this is for python3

In [0]:
print('hello',24,True,23.99) # multiple things string , int , boolean , float/double

In [0]:
# variable declaration is easy 
x= 5
y = 6

x+y

In [0]:
# Comments
# This is a python tutorial and a single line comment
''' This is a multiline comment
    Seems awesome!!
    Let me introduce you to Mr. Python!'''

In [0]:

# Variables
msg = "Python!"  # String
v2 = 'Python!'   # String works same in single or double quote
v1 = 2           # Numbers
v3 = 3.564       # Floats / Doubles
v4 = True        # Boolean (True / False)(0 or 1)

print(msg) 
print v1
print v3
print v4

***Python Lists***

Lists are easy , elements of a list stay inside of the square braces.
strings contain single ( ' '  ) or double( " " ) quote , int, float ,boolean does not need any quote .

In [0]:
#lists contain in square bracces 
names = ['john', 'Ram', 'Mike']
print (names)

In [0]:
#list can be called by its indexes indexes starts from 0 not 1 
lang = ['C','c++','Java','Python']
print"I love",lang[3] # 3 is for the indexing 
print names[1],"loves",lang[0]

**Negetive indexing **

In [0]:
# lists index in reverse order 
print "I love",lang[-1] #last on is -1 & before that is -2 & so on

**Complex listing**

In [0]:
l1 = ['John',"Mike", 'David']
l2 = [22,42,33]
l3 = ['cheese','Milk','Egg']

l = [l1,l2,l3] # or l = [ ['John',"Mike",'David'], [22,42,33], ['cheese','Milk','Egg'] ]

print l[0][1],"loves",l[2][1]," and his age is ", l[1][2]

**Length of a list**

In [0]:
# Length of the list
length = ['A', 'B', 'C', 'D', 'E']
print len(length)

**Finding index value of any element**

In [0]:
# Index value of a list
print length.index("B")
#let`s make a loop
for i in range(len(length)):
  print length[i],"is in ", length.index(length[i]),"Index"

**LOOP**

In [0]:
# Simple while LOOP
# Loop runs till the condition is True
v1 = 5
while v1 <= 10:
    print (v1)
    v1 += 1

In [0]:
# For Loop 
# here the range function is called for itteration.
for i in range(5):
  print "Hello World!!"

**Dictionary**

 A dictionary is nothing but a key value pair. 
 We can find the values from the keys.

In [0]:
# Simple Dictionary
# Dictionary allows to have key:value pairs
d = {"Python":8, 'A':65, 66:'B', 9.45:"Decimals"}

print (d1["Python"])
print (d1['A'])
print (d1[66])
print (d1[9.45])

**Conditional Block**

In [0]:
# if..else
v1 = 5
if v1 == 10:
    print (v1)
else:
  if v1 < 10:
    print "Value is less than ten."
  else:
    print "Value is bigger than ten"

**Let`s create function**

We can add empty parameters also in functions

In [0]:
# Simple function
# Function definition
def Func():
    print ("A Message from the other world!")

# Function Calling
Func()

In [0]:
# function may have multiple parameters here x,y are the parameters
def add(x,y):
  print "The Sum is:",(x+y)
  return x+y/2           # Function returns the avarage value
  
add(2,3)

**String Library for strings formation**

In [0]:
# for doing things with string you have to import the string library
import string

# Case change of string variables
txt   = "jennifEr loves Python"

# Title case
line  = txt.title() 
print (line)

# Upper case
line  = txt.upper() 
print (line)

# Lower case
line  = txt.lower() 
print (line)

**Numpy** - The ML library

In [0]:
# NUMPY is a library what supports multidimensional array 
# import numpy
import numpy as np
# numpy.arange([start, ]stop, [step, ]dtype=None)

print (np.arange(3))           # start=0 | stop=3  | step=1 default step
print (np.arange(5, 25))       # start=5 | stop=25 | step=1 default step
print (np.arange(10, 100, 10)) # start=5 | stop=100 | step=10 assigned in the last

**What is arrays in Numpy** 

Array can be classified as lists of list

In [0]:
# lets create a numpy array 
x = [23,4.5, 64, 56] # creating a list of numbers 
ary = np.array(x)      # Pass thos e numbers in numpy array
print (ary) 
# multiplication of the array can be possible 
print (ary*2)

**Array arithmetic with Numpy**

In [0]:
# let`s create 2 arrays 
a1 = np.array([1,2,3])
a2 = np.array([4,5,6])

# let`s add

print("sum of the arrays is ",a1+a2)

# let`s subtract

print("Subtraction of the arrays a1-a2 is ",a1-a2)

print("Subtraction of the arrays a2-a1 is ",a2-a1)


# let`s multiply

print("Multiplication of the arrays is ",a1*a2)

# let`s Division

print("Division of the arrays a1/a2 is ",a1/a2)

print("Division of the arrays a1/a2 is ",a2/a1)

**Multi dimensional array with Numpy**

In [0]:
# The abobe one was single dimensional array Let`s create multi dimensional array
multi = np.array([[2,53],[22,4]])     #We are creating a list of two lists, each list is defigning each row 
print (multi)
print (multi.ndim,"is the dimmension of the array") # ndim is used for defining the dimention of the array

In [0]:
# getting the eliments of the array
print multi[0] # 1st row of the array
print multi[1] # 2ns row of the array
print "1st element of the array ",multi[0][0]
print "last element of the array ",multi[-1][-1] #using negetive indexing

**So Why Numpy ? why array ??**

There have lists , no need to use array .

*Memory is a  major problem.*

Let`s see how memory can be an issue in list vs Numpy

In [0]:
import numpy as np
import time
import sys

#python list memory consumption  
l =range(1000)
print("Python list is taking ",sys.getsizeof(5)*len(l),'bytes') 

#Numpy memory consumption 
array = np.arange(1000)  # this is a function is simmilar to range ; in Numpy its a-range() means array range
print("Numpy takes only ",array.size*array.itemsize,'bytes')

**Wanna take a deep dive ??** 

**Python lists insider theory :-** 
  In Python as everything is an object . The list contain the list of pointers then those pointers points another location of the memory which will be the object & the size of each object will be 14 bytes . 
  
  **Numpy insider theory :-**
  There have continious memory allocation in the array ,& each element store 4 byte of memory.

In [0]:
# Creating a random matrix 
r = np.random.randn(5,4)  # the mtrix is 5 by 4 matrix (row, column)
print (r)

**Timing - List vs Numpy**

In [0]:
import numpy as np
import time
import sys

size =1000

#assigning values to list 1 & list 2 

l1 = range(size)
l2 = range(size)

#python list time calculation 
start = time.time()
result = [(x+y) for x,y in zip(l1,l2)]  # its simply add the 1st element from l1 & l2 & put the sum in result 
print("Python lists took ",(time.time()-start), 'second to complete.') # you can convert this into milisec just multiplying with 1000

# Assigning values in array

a1 = np.arange(size)
a2 = np.arange(size)

# Numpy time calculation

start = time.time()
result = a1 + a2
print("Numpy took ",(time.time()-start),"seconds")

In [0]:
# Matplotlib is a great Library for ploting your data in a beutiful graph
import matplotlib.pyplot as plt
k = [1.2,3.4,6.3,7,10]
plt.plot(k)  # Its ploting the list with plot() function 
plt.show() # without the show function you cannot see anything.

In [0]:
# We can also plot points instead of a straigth line 
plt.plot(k,"ro")  # we can specify the shape & size also the 1st one r-Red,g-Gren,b-Blue . The 2nd letter defines the shape we can use ^ or - 
plt.show()

In [0]:
import tensorflow as tf
version = (tf.__version__)
print "Its in float => " + version
print "The version is in string : "+ str(version)